@font-face {
	font-family: "neontubes";
	src: url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.eot");
	src: url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.eot?#iefix")
			format("embedded-opentype"),
		url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.woff2")
			format("woff2"),
		url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.woff")
			format("woff"),
		url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.ttf")
			format("truetype");
	font-weight: normal;
	font-style: normal;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: translateY(-20%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes transitionOut {
  from {
    opacity: 1;
    transform: translateY(-20%);
  }
  to {
    opacity: 0;
    transform: translateY(0);
  }
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #030c1c;
	/* -webkit-animation: breathing 30s infinite;
	animation: breathing 30s infinite; */
	transition: 1s ease all;
}
.main {
	display: block;
	position: absolute;
	top: 40%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 100vw;
	height: auto;
	font-family: "neontubes";
	font-size: 16vw;
	text-align: center;
	white-space: nowrap;

}
.main span {
	display: block;
	position: relative;
	-webkit-transform: translateZ(0) translate3D(0, 0, 0);
	transform: translateZ(0) translate3D(0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	will-change: opacity;
}
.bigger {
	font-size: 27vw;
	margin-bottom: -12vw;
	letter-spacing: 19px;
}
.main .title {
	color: #ffd9e2;
	text-shadow: 0 0 0 transparent, 0 0 10px #ff003c,
		0 0 20px rgba(255, 0, 60, 0.5), 0 0 40px #ff003c, 0 0 100px #ff003c,
		0 0 200px #ff003c, 0 0 300px #ff003c, 0 0 500px #ff003c, 0 0 1000px #ff003c;
	-webkit-animation: blink 4s infinite alternate;
	animation: blink 4s infinite alternate;
	font-size: 11vw;
	transition: 3s ease all;
  animation: transitionIn 2s;

}
.main .subtitle {
	font-size: 11vw;
	color: #d4eaff;
	text-shadow: 0 0 0 transparent, 0 0 10px #2695ff,
		0 0 20px rgba(38, 149, 255, 0.5), 0 0 40px #2695ff, 0 0 100px #2695ff,
		0 0 200px #2695ff, 0 0 300px #2695ff, 0 0 500px #2695ff;
	-webkit-animation: buzz 0.01s infinite alternate;
	animation: buzz 0.01s infinite alternate;
	white-space: normal;
	padding: 0.3em;
}
.subtitle:hover,
.subtitle:focus {
	background-color: #ff6666;
	color: #fff;
	-webkit-animation: heartBit 2.2s infinite;
	animation: heartBit 2.2s infinite;
	cursor: pointer;
}

/* Animation for Breath Button */
@-webkit-keyframes breathing {
	0% {
		-webkit-box-shadow: 0px 0px 0px 0px #5b06c2;
		box-shadow: 0px 0px 0px 0px#5b06c2;
	}
	50% {
		-webkit-box-shadow: 100px 100px 70px 70px #5b06c2;
		box-shadow: 0px 0px 50% 70px #5b06c2;
	}
	100% {
		-webkit-box-shadow: 100px 100px 50px 0px #5b06c2;
		box-shadow: 100% 100% 500% 100% #5b06c2;
	}
}
@keyframes breathing {
	0% {
		-webkit-box-shadow: 0em 0em 0em 0em #5b06c2;
		box-shadow: 0px 0px 10% 0% #5b06c2;
	}
	50% {
		-webkit-box-shadow: 0px 0px 70px 70px #5b06c2;
		box-shadow: 0px 0px 50% 70px #5b06c2;
	}
	100% {
		-webkit-box-shadow: 0px 0px 50px 0px #5b06c2;
		box-shadow: 10% 10% 500% 100% #5b06c2;
	}
}
/* Animation for Heart Bit Button */
@keyframes heartBit {
	0%,
	30% {
		-webkit-box-shadow: 0px 0px 30px 10px #ff5a5a;
		box-shadow: 0px 0px 30px 10px #ff5a5a;
	}
	40%,
	50% {
		-webkit-box-shadow: 0px 0px 30px 20px #ff5a5a;
		box-shadow: 0px 0px 30px 20px #ff5a5a;
	}
	100% {
		-webkit-box-shadow: 0px 0px 30px 0px #ff5a5a;
		box-shadow: 0px 0px 30px 0px #ff5a5a;
	}
}
@-webkit-keyframes heartBit {
	0%,
	30% {
		-webkit-box-shadow: 0px 0px 30px 10px #ff5a5a;
		box-shadow: 0px 0px 30px 10px #ff5a5a;
	}
	40%,
	50% {
		-webkit-box-shadow: 0px 0px 30px 20px #ff5a5a;
		box-shadow: 0px 0px 30px 20px #ff5a5a;
	}
	100% {
		-webkit-box-shadow: 0px 0px 30px 0px #ff5a5a;
		box-shadow: 0px 0px 30px 0px #ff5a5a;
	}
}
/* Animation for Buzz (Neon Lights effect) */
@-webkit-keyframes buzz {
	70% {
		opacity: 0.8;
	}
}
@keyframes buzz {
	70% {
		opacity: 0.8;
	}
}
@-webkit-keyframes blink {
	40% {
		opacity: 1;
	}
	42% {
		opacity: 0.8;
	}
	43% {
		opacity: 1;
	}
	45% {
		opacity: 0.2;
	}
	46% {
		opacity: 1;
	}
}
@keyframes blink {
	40% {
		opacity: 1;
	}
	42% {
		opacity: 0.8;
	}
	43% {
		opacity: 1;
	}
	45% {
		opacity: 0.2;
	}
	46% {
		opacity: 1;
	}
}

/* HD Monitor and above */
@media screen and (min-width: 768px) {
	.main {
		font-size: 2em;
	}

	.main .subtitle {
		font-size: 5vw;
	}
}

/* iPad */
@media only screen and (max-width: 768px) {
	.main {
		top: 30%;
	}
	.main .bigger {
		padding-left: 4vw;
		margin-bottom: -10vw;
		font-size: 38vw;
	}
	.main .title {
		font-size: 17vw;
	}
	.main .subtitle {
		font-size: 7.5vw;
	}
}

/* Cellphones */
@media only screen and (max-width: 360px) {
	.main {
		top: 35%;
	}
	.main .bigger {
		margin-left: 6vw;
		margin-bottom: -11vw;
		font-size: 36vw;
	}
	.main .title {
		font-size: 17vw;
	}
	.main .subtitle {
		font-size: 7vw;
	}
}

/* Very Small Devices */
@media only screen and (max-width: 330px) {
	.main {
		top: 17%;
	}
}
